* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#addButton {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease;
}

#addButton:hover {
    background-color: #218838;
}

#taskList {
    list-style: none;
    padding: 0;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.taskItem.completed {
    text-decoration: line-through;
    color: #888;
}

.taskItem button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.completeButton {
    background-color: #ffc107;
    color: #fff;
}

.deleteButton {
    background-color: #dc3545;
    color: #fff;
}

.completeButton:hover {
    background-color: #e0a800;
}

.deleteButton:hover {
    background-color: #c82333;
}